<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"
    />
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <link
      rel="shortcut icon"
      href="/mobile/images/favicon.ico"
      type="image/x-icon"
    />
    <title>APP Download</title>
    <meta charset="utf-8" />
    <link
      href="/mobile/css/download/Android/downloadapp_VI.css?v=102"
      rel="stylesheet"
    />
    <script
      type="text/javascript"
      src="/mobile/js/js_download/jquery-2.1.4.js"
    ></script>
    <script
      type="text/javascript"
      src="/mobile/js/js_download/DownloadApp.js?v=102"
    ></script>
    <script
      type="text/javascript"
      src="/mobile/js/js_download/language/Language_VI.js?v=102"
    ></script>
  </head>
  <body>
    <div id="download" class="ku_download">
      <div>
        <div id="android" style="display: none">
          <img
            class="img_girls"
            src="/mobile/images/images_download/img_girls.png"
          />
          <div class="ku_title">
            MC trực tuyến
            <div>KU Casino • KU Xổ Số • COOL-IN LIVE</div>
          </div>
        </div>

        <div id="ios" style="display: none">
          <img
            class="img_girls"
            src="/mobile/images/images_download/pic_vipApp.png"
          />
          <div class="img_title">
            APP phiên bản VIP
            <div>Đăng nhập nhanh Trải nghiệm mượt mà</div>
          </div>
        </div>

        <div class="downloadBox">
          <a id="btnDownload" class="btn_download"></a>
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript">
    const deviceType = "2";
    const fileUrl = "/mobile/ku.apk";
    const isSafari = "0";
  </script>
</html>
