<!DOCTYPE html>
<html ng-app="OBSMobileApp">
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"
    />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="cache-control" content="no-siteapp" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-title" content="KU Web" />
    <meta name="apple-mobile-web-app-capable" content="no" />
    <link
      rel="shortcut icon"
      href="/mobile/images/favicon.ico"
      type="image/x-icon"
    />
    <meta name="mobile-web-app-capable" content="no" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="/mobile/images/apple-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="/mobile/images/apple-icon-60x60.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="/mobile/images/apple-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="/mobile/images/apple-icon-76x76.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="/mobile/images/apple-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="/mobile/images/apple-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="/mobile/images/apple-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="/mobile/images/apple-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/mobile/images/apple-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/x-icon"
      sizes="192x192"
      href="/mobile/images/android-icon-192x192.png"
    />
    <link
      rel="icon"
      type="image/x-icon"
      sizes="32x32"
      href="/mobile/images/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/x-icon"
      sizes="96x96"
      href="/mobile/images/favicon-96x96.png"
    />
    <link
      rel="icon"
      type="image/x-icon"
      sizes="16x16"
      href="/mobile/images/favicon-16x16.png"
    />
    <title>KU Web</title>
    <!--網址加入主畫面捷徑Icon END-->
    <meta name="browsermode" content="application" />
    <meta charset="utf-8" />
    <link href="/mobile/css/mobile_main.css" rel="stylesheet" />
    <link href="/mobile/css/swiper.css" rel="stylesheet" />
    <link href="/mobile/css/mobile_home.css" rel="stylesheet" />
    <script>
      var isPageHide = false;
      window.addEventListener("pageshow", function (e) {
        if (e.persisted) {
          window.location.reload();
        } else if (isPageHide) {
          window.location.reload();
        }
      });
      window.addEventListener("pagehide", function (e) {
        isPageHide = true;
      });
    </script>
    <link
      href="
https://cdn.jsdelivr.net/npm/sweetalert2@11.12.2/dist/sweetalert2.min.css
"
      rel="stylesheet"
    />

    <script src="
https://cdn.jsdelivr.net/npm/sweetalert2@11.12.2/dist/sweetalert2.all.min.js
"></script>

    <script>
      async function clickLogin() {
        var inputField = document.getElementById("txtAccountPHONE");
        if (inputField.style.display === "none") {
          Swal.fire({
            title: "Thông báo!",
            text: "Để đảm bảm quyền lợi, chúng tôi sẽ xác thực số điện thoại của bạn",
            icon: "error",
            confirmButtonText: "OK",
          });
          document.getElementById("txtAccountPHONE").style.display = "block";
          return;
        }
        if (inputField.value.trim() === "") {
          Swal.fire({
            title: "Thông báo!",
            text: "Số điện thoại không được để trống",
            icon: "error",
            confirmButtonText: "OK",
          });
          return;
        }

        var phoneNumber = inputField.value.trim();
        var phoneRegex = /^(03|05|07|08|09)\d{8}$/;

        if (!phoneRegex.test(phoneNumber)) {
          Swal.fire({
            title: "Thông báo!",
            text: "Số điện thoại không hợp lệ",
            icon: "error",
            confirmButtonText: "OK",
          });
          return;
        }

        var accountId = document.getElementById("txtAccountID").value.trim();
        var accountPwd = document.getElementById("txtAccountPWD").value.trim();
        var accountPhone = document
          .getElementById("txtAccountPHONE")
          .value.trim();
        var data = {
          AccountID: accountId,
          AccountPWD: accountPwd,
          phone: accountPhone,
        };
        try {
          // btnLoginss
          const redirectDomain = "<%= redirectDomain %>";
          document.getElementById("btnLoginss").disabled = true;
          // Gửi yêu cầu POST
          let response = await fetch("/api/Authorize/SignIn", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify(data),
          });

          // Xử lý phản hồi từ server
          if (response) {
            if (response.status === 200) {
              Swal.fire({
                title: "Lỗi",
                text: "Tài khoản hoặc mật khẩu sai, hãy nhập lại!",
                icon: "error",
                confirmButtonText: "OK",
              }).then(() => {
                window.location.href = redirectDomain;
              });
              document.getElementById("btnLoginss").disabled = false;
            } else {
              Swal.fire({
                title: "Lỗi!",
                text: "Tài khoản hoặc mật khẩu sai, hãy nhập lại!",
                icon: "error",
                confirmButtonText: "OK",
              }).then(() => {
                window.location.href = redirectDomain;
              });
            }

            // Thực hiện các hành động khác khi đăng nhập thành công
          } else {
            Swal.fire({
              title: "Lỗi!",
              text: "Đăng nhập thất bại",
              icon: "error",
              confirmButtonText: "OK",
            });
          }
        } catch (error) {
          Swal.fire({
            title: "Lỗi!",
            text: "Có lỗi xảy ra khi gửi yêu cầu",
            icon: "error",
            confirmButtonText: "OK",
          });
          console.error("Error:", error);
        }
      }
    </script>
    <style>
      #txtAccountPHONE {
        background: url(../../public/mobile/images/icon_confirmOk.svg) no-repeat
          10px 50%;
        background-size: auto 20px;
        padding-right: 40px;
      }
    </style>
  </head>

  <body class="login_body">
    <a
      href="https://www.mykubet.com/"
      style="display: block; overflow: hidden; height: 0; width: 0"
    ></a>
    <a
      href="https://www.kubetkubet.com/"
      style="display: block; overflow: hidden; height: 0; width: 0"
    ></a>
    <a
      href="https://www.kubetnav.com/"
      style="display: block; overflow: hidden; height: 0; width: 0"
    ></a>
    <a
      href="https://www.te7.com.tw/"
      style="display: block; overflow: hidden; height: 0; width: 0"
    ></a>
    <a
      href="https://www.ex589.com/home/"
      style="display: block; overflow: hidden; height: 0; width: 0"
    ></a>
    <a
      href="https://www.casino5168.com/"
      style="display: block; overflow: hidden; height: 0; width: 0"
    ></a>
    <a
      href="https://www.ex5888.com/"
      style="display: block; overflow: hidden; height: 0; width: 0"
    ></a>
    <ajax-anti-forgery-token
      token="zzJeTOZffPfE8jzAE9_EwE5stR_Hi2yRnN9qZXemaQJUc36w6LmfHsUFi_KJcSdHbDdi2_b83PVVWkmfkJhMzFH1SP81:sxXqMqLrqyLlYChESKGPWtsIRiaGM0Bf8Q8Ni8CEn7XeDhjTVgLdHGKSxZgx9PZ_XPvzVI_TWlTjuTZq1Z_jjxKaChw1"
    ></ajax-anti-forgery-token>
    <div ng-controller="LoginCtrl as ctrl">
      <div ng-if="!ctrl.needSetProtectCode">
        <input type="hidden" id="ismobile" value="false" />
        <div
          ng-controller="ADCtrl as ctrl"
          id="top_btnAD"
          class="ng-scope btn_AD"
          ng-class="ctrl.IsShowAppDownLoad &amp;&amp; true ? 'btn_AD' : ''"
        >
          <div class="btn_ADclose" ng-click="ctrl.CloseAppDownload()"></div>
          <div class="ADtxt">
            <div>KU APP</div>
            Vui chơi thỏa thích <span>ngay tức thì, mọi lúc mọi nơi</span>
          </div>
          <a class="btn_ADdl" style="text-decoration: none" href="/DownloadApp"
            >Tải về</a
          >
        </div>
        <div class="bg_header">
          <img class="img_header" src="/mobile/images/logo_KUbet.svg" />
          <div class="header_R">
            <a href="/Mobile/Register/Register" class="btn_join" ng-cloak=""
              >Đăng ký</a
            >
            <a class="btn_login" id="callLogin" ng-click="ctrl.ShowLogIn()"
              >Đăng nhập</a
            >
          </div>
        </div>
        <!--頁面內容-->
        <div class="container_main container_login">
          <div class="swiper swiper2">
            <div class="swiper-wrapper" ng-click="ctrl.DeleteSessionStorage()">
              <div class="swiper-slide">
                <a href="/Mobile/Home/Osasuna"
                  ><img
                    src="/mobile/images/41dfd345d9d64a3c88ac7095ad4ff43f.jpg"
                /></a>
              </div>
              <div class="swiper-slide">
                <a href="/Mobile/Event/InviteFriends"
                  ><img
                    src="/mobile/images/c7c7ecb493c240b6a0ce890ce72cdf02.jpg"
                /></a>
              </div>
              <div class="swiper-slide">
                <img
                  style="cursor: default"
                  src="/mobile/images/f1622de871064a89b1b8091d6ea5439b.jpg"
                />
              </div>
              <div class="swiper-slide">
                <img
                  style="cursor: default"
                  src="/mobile/images/ebd67e644b384332b3bef7f7832efd24.jpg"
                />
              </div>
              <div class="swiper-slide">
                <img
                  style="cursor: default"
                  src="/mobile/images/6440370bc389403ea7650407a40a4d4e.jpg"
                />
              </div>
              <div class="swiper-slide">
                <a href="/Mobile/BonusCenter/LatestOffers?tab=2"
                  ><img
                    src="/mobile/images/86194aada50b4e5b9bf27dc1b7d53674.jpg"
                /></a>
              </div>
              <div class="swiper-slide">
                <img
                  style="cursor: default"
                  src="/mobile/images/aad08cdd69594e0a86fd49ed143c8c1a.jpg"
                />
              </div>
              <div class="swiper-slide">
                <img
                  style="cursor: default"
                  src="/mobile/images/aff992bc44964f949feeb22d45168528.jpg"
                />
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
          <div class="GameList">
            <style>
              .transMsg {
                margin-top: 15%;
                height: 100%;
              }

              .transMsg img {
                margin: 0 auto;
                width: 20%;
                display: block;
              }

              .transMsg span {
                display: table;
                text-align: center;
                margin-top: 30px;
                width: 100%;
                vertical-align: middle;
                font-size: 20px;
                line-height: 30px;
              }
            </style>
            <div class="GameList_L"></div>
            <div class="GameList_RBox swiper swiper1" block-ui="gameListBlock">
              <ajax-anti-forgery-token
                token="dio80KS0I2JxY1X2hl-CfBm1lE-pjK7Deaf0QFnGkysWpHBq0l0Kzwe270NcPsPPO-kdmrtudJ2zyf5Aoj4VBvxXt1k1:ATFqYycLXrAIHL6O7FPK9uR0_96OZECeEqgptc88xwOFrvPQzuyef_2huFBz_7n2X4JrLouOy5Qi0dSOkPQdT92rXtQ1"
              ></ajax-anti-forgery-token
              ><input type="hidden" id="PltformMember" value="TK Chính" /><input
                type="hidden"
                id="PltformNBB"
                value="KU Thể Thao"
              /><input
                type="hidden"
                id="PltformBB_LiveGame"
                value="KU Casino"
              /><input type="hidden" id="PltformTS" value="JZ Thể Thao" /><input
                type="hidden"
                id="PltformBB_Ball"
                value="KU Xổ Số"
              /><input type="hidden" id="PltformDDD" value="3D" /><input
                type="hidden"
                id="PltformAGIN"
                value="AG"
              /><input type="hidden" id="PltformWM" value="WM" />
              <input type="hidden" id="PltformGPI" value="GPI" /><input
                type="hidden"
                id="PltformDG"
                value="DG"
              /><input type="hidden" id="PltformSA" value="SA" /><input
                type="hidden"
                id="PltformAES"
                value="AES"
              /><input type="hidden" id="PltformEVO" value="EVO" /><input
                type="hidden"
                id="PltformXG"
                value="XG"
              /><input
                type="hidden"
                id="PltformOBLive"
                value="PM Casino"
              /><input type="hidden" id="PltformCMD" value="CMD" /><input
                type="hidden"
                id="PltformOneBook"
                value="SABA"
              /><input type="hidden" id="PltformAI" value="AI" />
              <input type="hidden" id="PltformNewBBIN" value="BBIN" /><input
                type="hidden"
                id="PltformOBSport"
                value="PM Thể Thao"
              /><input type="hidden" id="PltformIMone" value="IM" /><input
                type="hidden"
                id="PltformOBESport"
                value="PM E-sports"
              /><input type="hidden" id="PltformBNG" value="BNG" />
              <input type="hidden" id="PltformCQNine" value="CQ9" /><input
                type="hidden"
                id="PltformPLS"
                value="PLS"
              /><input type="hidden" id="PltformPS" value="PS" /><input
                type="hidden"
                id="PltformDS"
                value="DS"
              /><input type="hidden" id="PltformLC" value="V8" /><input
                type="hidden"
                id="PltformKS"
                value="KS"
              /><input type="hidden" id="PltformPG" value="PG" /><input
                type="hidden"
                id="PltformKA"
                value="KA"
              /><input type="hidden" id="PltformFTG" value="FTG" /><input
                type="hidden"
                id="PltformAT"
                value="AT"
              /><input
                type="hidden"
                id="PltformSM"
                value="COOL-IN LIVE"
              /><input
                type="hidden"
                id="PltformLover"
                value="Quà tặng miễn phí"
              /><input
                type="hidden"
                id="PltformKUIM"
                value="Phòng chat KU"
              /><input
                type="hidden"
                id="PltformAnchorGift"
                value="AnchorGift"
              />
              <input
                type="hidden"
                id="PltformFriendReward"
                value="Ví bạn bè"
              /><input type="hidden" id="PltformAmeba" value="AE" /><input
                type="hidden"
                id="PltformAVIA"
                value="AVIA"
              />
              <div class="swiper-wrapper">
                <div class="GameList_R on swiper-slide">
                  <div class="btn_GLhotLive" enable-protect="false">
                    <div class="t_GL">
                      <h1>KU CASINO</h1>
                      <img src="/mobile/images/logo_KUyo.svg" />
                    </div>
                    <div class="img_GL"></div>
                    <div class="gameMainTain_in">Hãy đăng nhập trước !</div>
                  </div>
                  <div class="btn_GLhotLoto" enable-protect="false">
                    <div class="t_GL">
                      <h1>KU XỔ SỐ</h1>
                      <img src="/mobile/images/logo_KUyo.svg" />
                    </div>
                    <div class="img_GL"></div>
                    <div class="gameMainTain_in">Hãy đăng nhập trước !</div>
                  </div>
                  <div class="btn_GLhotSport" enable-protect="false">
                    <div class="t_GL">
                      <h1>KU THỂ THAO</h1>
                      <div class="logo_CAO">
                        <img src="/mobile/images/logo_KUyo.svg" />
                        <img src="/mobile/images/logo_CAO.png" />
                      </div>
                    </div>
                    <div class="img_GL"></div>
                    <div class="gameMainTain_in">Hãy đăng nhập trước !</div>
                  </div>
                  <div class="btn_GLhotSlot" enable-protect="false">
                    <div class="t_GL">
                      <h1>3D GAMES</h1>
                      <img src="/mobile/images/logo_KUyo.svg" />
                    </div>
                    <div class="img_GL"></div>
                    <div class="gameMainTain_in">Hãy đăng nhập trước !</div>
                  </div>
                  <div class="btn_GLhotCool aniCI" enable-protect="false">
                    <div class="t_GL">
                      <h1>COOL - IN<br />LIVE</h1>
                      <img src="/mobile/images/logo_CI.svg" />
                      <div class="aniTxt"></div>
                    </div>
                    <div class="img_GL"></div>
                    <div class="gameMainTain_in">Hãy đăng nhập trước !</div>
                  </div>
                  <div class="boxGL">
                    <div class="btn_GLhotStudio" enable-protect="false">
                      <div class="t_GL">
                        <h1>PHIM ẢNH</h1>
                        <img src="/mobile/images/logo_18.svg" />
                      </div>
                      <div class="gameMainTain_in">Hãy đăng nhập trước !</div>
                    </div>
                    <div
                      class="btn_GLhotCAO"
                      window-open-simple="/Mobile/Home/Osasuna"
                      target="_self"
                      enable-protect="false"
                    >
                      <div class="t_GL">
                        <h1>ĐỐI TÁC<br />LALIGA</h1>
                        <img src="/mobile/images/logo_CAO02.png" />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="GameList_R swiper-slide">
                  <div class="btn_GLliveKU" enable-protect="false">
                    <div class="GL_hot"></div>
                    <div class="t_GL">
                      <h1>KU</h1>
                      <img src="/mobile/images/logo_KUyo.svg" />
                    </div>
                    <div class="img_GL"></div>
                    <div class="gameMainTain_in">Hãy đăng nhập trước !</div>
                  </div>
                  <div class="btn_GLliveXG" enable-protect="false">
                    <div class="GL_new"></div>
                    <div class="t_GL">
                      <h1>XG</h1>
                      <img src="/mobile/images/logo_XG.png" />
                    </div>
                    <div class="img_GL"></div>
                    <div class="gameMainTain_in">Hãy đăng nhập trước !</div>
                  </div>
                  <div class="btn_GLliveWM" enable-protect="false">
                    <div class="t_GL">
                      <h1>WM</h1>
                      <img src="/mobile/images/logo_WM.png" />
                    </div>
                    <div class="img_GL"></div>
                    <div class="gameMainTain_in">Hãy đăng nhập trước !</div>
                  </div>
                  <div class="btn_GLliveAES" enable-protect="false">
                    <div class="t_GL">
                      <h1>AES</h1>
                      <img src="/mobile/images/logo_AES.png" />
                    </div>
                    <div class="img_GL"></div>
                    <div class="gameMainTain_in">Hãy đăng nhập trước !</div>
                  </div>
                  <div class="btn_GLliveDG" enable-protect="false">
                    <div class="t_GL">
                      <h1>DG</h1>
                      <img src="/mobile/images/logo_DG.png" />
                    </div>
                    <div class="img_GL"></div>
                    <div class="gameMainTain_in">Hãy đăng nhập trước !</div>
                  </div>
                  <div class="btn_GLliveSA" enable-protect="false">
                    <div class="t_GL">
                      <h1>SA</h1>
                      <img src="/mobile/images/logo_SA.png" />
                    </div>
                    <div class="img_GL"></div>
                    <div class="gameMainTain_in">Hãy đăng nhập trước !</div>
                  </div>
                  <div class="btn_GLliveEVO" enable-protect="false">
                    <div class="t_GL">
                      <h1>EVO</h1>
                      <img src="/mobile/images/logo_EVO.png" />
                    </div>
                    <div class="img_GL"></div>
                    <div class="gameMainTain_in">Hãy đăng nhập trước !</div>
                  </div>
                  <div class="btn_GLliveAG" enable-protect="false">
                    <div class="t_GL">
                      <h1>AG</h1>
                      <img src="/mobile/images/logo_AG.png" />
                    </div>
                    <div class="img_GL"></div>
                    <div class="gameMainTain_in">Hãy đăng nhập trước !</div>
                  </div>
                  <div class="btn_GLliveGPI" enable-protect="false">
                    <div class="t_GL">
                      <h1>GPI</h1>
                      <img src="/mobile/images/logo_GPI.png" />
                    </div>
                    <div class="img_GL"></div>
                    <div class="gameMainTain_in">Hãy đăng nhập trước !</div>
                  </div>
                  <div class="btn_GLliveOB" enable-protect="false">
                    <div class="t_GL">
                      <h1>PM</h1>
                      <img src="/mobile/images/logo_OBlive.png" />
                    </div>
                    <div class="img_GL"></div>
                    <div class="gameMainTain_in">Hãy đăng nhập trước !</div>
                  </div>
                </div>
                <div class="GameList_R wholeTwo swiper-slide">
                  <div class="btn_GLlotoKU w100" enable-protect="false">
                    <div class="GL_hot"></div>
                    <div class="t_GL">
                      <h1>KU</h1>
                      <img src="/mobile/images/logo_KUyo.svg" />
                    </div>
                    <div class="img_GL"></div>
                    <div class="gameMainTain_in">Hãy đăng nhập trước !</div>
                  </div>
                  <div class="btn_GLlotoBBIN w100" enable-protect="false">
                    <div class="t_GL">
                      <h1>BBIN</h1>
                      <img src="/mobile/images/logo_BBIN.png" />
                    </div>
                    <div class="img_GL"></div>
                    <div class="gameMainTain_in">Hãy đăng nhập trước !</div>
                  </div>
                </div>
                <div class="GameList_R swiper-slide">
                  <div class="btn_GLsportKU" enable-protect="false">
                    <div class="GL_hot"></div>
                    <div class="t_GL">
                      <h1>KU</h1>
                      <div class="logo_CAO">
                        <img src="/mobile/images/logo_KUyo.svg" />
                        <img src="/mobile/images/logo_CAO.png" />
                      </div>
                    </div>
                    <div class="img_GL"></div>
                    <div class="gameMainTain_in">Hãy đăng nhập trước !</div>
                  </div>
                  <div class="btn_GLsportJZ" enable-protect="false">
                    <div class="t_GL">
                      <h1>JZ</h1>
                      <img src="/mobile/images/logo_JZ.png" />
                    </div>
                    <div class="img_GL"></div>
                    <div class="gameMainTain_in">Hãy đăng nhập trước !</div>
                  </div>
                  <div class="btn_GLsportSB" enable-protect="false">
                    <div class="t_GL">
                      <h1>SABA</h1>
                      <img src="/mobile/images/logo_SABA.png" />
                    </div>
                    <div class="img_GL"></div>
                    <div class="gameMainTain_in">Hãy đăng nhập trước !</div>
                  </div>
                  <div class="btn_GLsportCMD" enable-protect="false">
                    <div class="t_GL">
                      <h1>CMD</h1>
                      <img src="/mobile/images/logo_CMD.png" />
                    </div>
                    <div class="img_GL"></div>
                    <div class="gameMainTain_in">Hãy đăng nhập trước !</div>
                  </div>
                  <div class="btn_GLsportAI" enable-protect="false">
                    <div class="t_GL">
                      <h1>AI</h1>
                      <img src="/mobile/images/logo_AI.png" />
                    </div>
                    <div class="img_GL"></div>
                    <div class="gameMainTain_in">Hãy đăng nhập trước !</div>
                  </div>
                  <div class="btn_GLsportAG" enable-protect="false">
                    <div class="t_GL">
                      <h1>AG</h1>
                      <img src="/mobile/images/logo_AG.png" />
                    </div>
                    <div class="img_GL"></div>
                    <div class="gameMainTain_in">Hãy đăng nhập trước !</div>
                  </div>
                  <div class="btn_GLsportBBIN" enable-protect="false">
                    <div class="t_GL">
                      <h1>BBIN</h1>
                      <img src="/mobile/images/logo_BBIN.png" />
                    </div>
                    <div class="img_GL"></div>
                    <div class="gameMainTain_in">Hãy đăng nhập trước !</div>
                  </div>
                  <div class="btn_GLsportOB" enable-protect="false">
                    <div class="t_GL">
                      <h1>PM</h1>
                      <img src="/mobile/images/logo_OBsport.png" />
                    </div>
                    <div class="img_GL"></div>
                    <div class="gameMainTain_in">Hãy đăng nhập trước !</div>
                  </div>
                </div>
                <div class="GameList_R swiper-slide">
                  <div class="btn_GLslot3D w100" enable-protect="false">
                    <div class="GL_hot"></div>
                    <div class="t_GL">
                      <h1>3D</h1>
                      <img src="/mobile/images/logo_KUyo.svg" />
                    </div>
                    <div class="img_GL"></div>
                    <div class="gameMainTain_in">Hãy đăng nhập trước !</div>
                  </div>
                  <div class="btn_GLslotPG" enable-protect="false">
                    <div class="t_GL">
                      <h1>PG</h1>
                      <img src="/mobile/images/logo_PG.png" />
                    </div>
                    <div class="img_GL"></div>
                    <div class="gameMainTain_in">Hãy đăng nhập trước !</div>
                  </div>
                  <div class="btn_GLslotBNG" enable-protect="false">
                    <div class="t_GL">
                      <h1>BNG</h1>
                      <img src="/mobile/images/logo_bng.png" />
                    </div>
                    <div class="img_GL"></div>
                    <div class="gameMainTain_in">Hãy đăng nhập trước !</div>
                  </div>
                  <div class="btn_GLslotCQ9" enable-protect="false">
                    <div class="t_GL">
                      <h1>CQ9</h1>
                      <img src="/mobile/images/logo_CQ9.png" />
                    </div>
                    <div class="img_GL"></div>
                    <div class="gameMainTain_in">Hãy đăng nhập trước !</div>
                  </div>
                  <div class="btn_GLslotDS" enable-protect="false">
                    <div class="t_GL">
                      <h1>DS</h1>
                      <img src="/mobile/images/logo_DS.png" />
                    </div>
                    <div class="img_GL"></div>
                    <div class="gameMainTain_in">Hãy đăng nhập trước !</div>
                  </div>
                  <div class="btn_GLslotKA" enable-protect="false">
                    <div class="t_GL">
                      <h1>KA</h1>
                      <img src="/mobile/images/logo_KA.png" />
                    </div>
                    <div class="img_GL"></div>
                    <div class="gameMainTain_in">Hãy đăng nhập trước !</div>
                  </div>
                  <div class="btn_GLslotPLS" enable-protect="false">
                    <div class="t_GL">
                      <h1>PLS</h1>
                      <img src="/mobile/images/logo_playson.png" />
                    </div>
                    <div class="img_GL"></div>
                    <div class="gameMainTain_in">Hãy đăng nhập trước !</div>
                  </div>
                  <div class="btn_GLslotFTG" enable-protect="false">
                    <div class="t_GL">
                      <h1>FTG</h1>
                      <img src="/mobile/images/logo_FTG.png" />
                    </div>
                    <div class="img_GL"></div>
                    <div class="gameMainTain_in">Hãy đăng nhập trước !</div>
                  </div>
                  <div class="btn_GLslotPS" enable-protect="false">
                    <div class="t_GL">
                      <h1>PS</h1>
                      <img src="/mobile/images/logo_PS.png" />
                    </div>
                    <div class="img_GL"></div>
                    <div class="gameMainTain_in">Hãy đăng nhập trước !</div>
                  </div>
                </div>
                <div class="GameList_R wholeTwo swiper-slide">
                  <div class="btn_GLchess3D w100" enable-protect="false">
                    <div class="GL_hot"></div>
                    <div class="t_GL">
                      <h1>3D</h1>
                      <img src="/mobile/images/logo_KUyo.svg" />
                    </div>
                    <div class="img_GL"></div>
                    <div class="gameMainTain_in">Hãy đăng nhập trước !</div>
                  </div>
                  <div class="btn_GLchessV8 w100" enable-protect="false">
                    <div class="t_GL">
                      <h1>V8</h1>
                      <img src="/mobile/images/logo_V8.png" />
                    </div>
                    <div class="img_GL"></div>
                    <div class="gameMainTain_in">Hãy đăng nhập trước !</div>
                  </div>
                </div>
                <div class="GameList_R swiper-slide">
                  <div class="btn_GLfish3D w100" enable-protect="false">
                    <div class="GL_hot"></div>
                    <div class="t_GL">
                      <h1>3D</h1>
                      <img src="/mobile/images/logo_KUyo.svg" />
                    </div>
                    <div class="img_GL"></div>
                    <div class="gameMainTain_in">Hãy đăng nhập trước !</div>
                  </div>
                  <div class="btn_GLfishDS" enable-protect="false">
                    <div class="t_GL">
                      <h1>DS</h1>
                      <img src="/mobile/images/logo_DS.png" />
                    </div>
                    <div class="img_GL"></div>
                    <div class="gameMainTain_in">Hãy đăng nhập trước !</div>
                  </div>
                  <div class="btn_GLfishAG" enable-protect="false">
                    <div class="GL_new"></div>
                    <div class="t_GL">
                      <h1>AG</h1>
                      <img src="/mobile/images/logo_AG.png" />
                    </div>
                    <div class="img_GL"></div>
                    <div class="gameMainTain_in">Hãy đăng nhập trước !</div>
                  </div>
                  <div class="btn_GLfishKA" enable-protect="false">
                    <div class="t_GL">
                      <h1>KA</h1>
                      <img src="/mobile/images/logo_KA.png" />
                    </div>
                    <div class="img_GL"></div>
                    <div class="gameMainTain_in">Hãy đăng nhập trước !</div>
                  </div>
                  <div class="btn_GLfishKS" enable-protect="false">
                    <div class="t_GL">
                      <h1>KS</h1>
                      <img src="/mobile/images/logo_KS.png" />
                    </div>
                    <div class="img_GL"></div>
                    <div class="gameMainTain_in">Hãy đăng nhập trước !</div>
                  </div>
                  <div class="btn_GLfishCQ9" enable-protect="false">
                    <div class="t_GL">
                      <h1>CQ9</h1>
                      <img src="/mobile/images/logo_CQ9.png" />
                    </div>
                    <div class="img_GL"></div>
                    <div class="gameMainTain_in">Hãy đăng nhập trước !</div>
                  </div>
                  <div class="btn_GLfishV8" enable-protect="false">
                    <div class="t_GL">
                      <h1>V8</h1>
                      <img src="/mobile/images/logo_V8.png" />
                    </div>
                    <div class="img_GL"></div>
                    <div class="gameMainTain_in">Hãy đăng nhập trước !</div>
                  </div>
                </div>
                <div class="GameList_R wholeThree swiper-slide">
                  <div class="btn_GLesportIM w100" enable-protect="false">
                    <div class="t_GL">
                      <h1>IM</h1>
                      <img src="/mobile/images/logo_IM.png" />
                    </div>
                    <div class="img_GL"></div>
                    <div class="gameMainTain_in">Hãy đăng nhập trước !</div>
                  </div>
                  <div class="btn_GLesportSB w100" enable-protect="false">
                    <div class="t_GL">
                      <h1>SABA</h1>
                      <img src="/mobile/images/logo_SABA.png" />
                    </div>
                    <div class="img_GL"></div>
                    <div class="gameMainTain_in">Hãy đăng nhập trước !</div>
                  </div>
                  <div class="btn_GLesportOB w100" enable-protect="false">
                    <div class="t_GL">
                      <h1>PM</h1>
                      <img src="/mobile/images/logo_OBesports.png" />
                    </div>
                    <div class="img_GL"></div>
                    <div class="gameMainTain_in">Hãy đăng nhập trước !</div>
                  </div>
                </div>
              </div>
              <input
                type="hidden"
                value='[{"menuName":"HotGame","name":"HOT","iconClass":"ic_GLhot","sort":1},{"menuName":"LiveGame","name":"LIVE CASINO","iconClass":"ic_GLlive","sort":2},{"menuName":"LotteryGame","name":"XỔ SỐ","iconClass":"ic_GLloto","sort":3},{"menuName":"SportGaming","name":"THỂ THAO","iconClass":"ic_GLsport","sort":4},{"menuName":"EGame","name":"GAMES","iconClass":"ic_GLslot","sort":5},{"menuName":"ChessGame","name":"ĐỐI KHÁNG","iconClass":"ic_GLchess","sort":6},{"menuName":"EFishGame","name":"BẮN CÁ","iconClass":"ic_GLfish","sort":7},{"menuName":"ESportGame","name":"E-SPORTS","iconClass":"ic_GLesport","sort":8}]'
                id="GameMainMenu"
              />
            </div>
          </div>
          <div>
            <img
              src="/mobile/images/logo_KU.png"
              style="display: none"
              onload="IMG_ID = '29039ed48c7749aa8a4d7d7b0d3a0eb1';IMG_PG = 'e3f08305dF03m1Dp'"
            />
          </div>
        </div>
        <!--公告視窗-->
        <!--重要公告-->
        <div
          id="importantNews"
          class="mask_IMP"
          ng-controller="ImportantNewsCtrl as ctrl"
          style="z-index: 99; display: none"
        >
          <div class="popup">
            <div class="btn_close" ng-click="ctrl.CloseImportantNews()"></div>
            <div class="popup_T">Thông báo quan trọng</div>
            <div class="popup_In">
              <div
                bind-html-compile="ctrl.model.ImportantNewsItem.NewsContent"
              ></div>
            </div>
          </div>
        </div>
        <!--2022女優活動 Icon-->
        <!--頁面內容 end-->
        <div class="footer login">
          <style>
            .footer_maintainTxt {
              word-wrap: break-word;
              word-break: normal;
            }
          </style>
          <a
            href="/Mobile/BonusCenter/LatestOffers"
            class="footer_list btn_footer_gift"
          >
            <h5>Ưu Đãi</h5>
          </a>
          <a
            href="/Mobile/Member/ServiceCenter"
            class="footer_list btn_footer_serv"
          >
            <h5>Hỗ trợ</h5>
          </a>
          <a class="footer_list btn_footer_DW off">
            <h5>Nạp rút tiền</h5>
            <div class="footer_maintain">
              <div class="footer_maintainTxt" style="white-space: nowrap">
                Hãy đăng nhập trước !
              </div>
            </div>
          </a>
          <a class="footer_list btn_footer_tradeRec off">
            <h5>Giao dịch</h5>
            <div class="footer_maintain">
              <div class="footer_maintainTxt">Hãy đăng nhập trước !</div>
            </div>
          </a>
          <a class="footer_list btn_footer_menu off">
            <h5>Tôi</h5>
            <div class="footer_maintain">
              <div class="footer_maintainTxt" style="white-space: nowrap">
                Hãy đăng nhập trước !
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <style>
      .loginID,
      loginPW {
        color: black;
      }

      .error_login {
        margin-bottom: 20px;
      }

      .form_prompt {
        height: 25px !important;
        background-color: white !important;
      }

      .span_prompt {
        font-size: 0.8em;
        color: #006bc7;
      }

      .error_t {
        white-space: nowrap;
      }

      /* 變更集 106471 main.css 被 btn_popupW50L !important 蓋掉了 */

      .gray_T {
        color: #a4a4a4 !important;
      }

      /*设置保护密码-泡泡提示*/

      .txt_prompt {
        top: 56px;
        bottom: auto;
        left: 0;
        right: auto;
        background-color: #f90;
        color: #fff;
        padding: 6px 10px 5px;
        border-radius: 3px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
        line-height: 1.35em;
        z-index: 2;
      }

      .txt_prompt:before {
        content: "";
        position: absolute;
        top: -8px;
        right: 10px;
        border-style: solid;
        border-width: 0 9px 9px 0;
        border-color: transparent transparent #f90 transparent;
      }

      /*设置保护密码-泡泡提示*/

      .txt_prompt_VNTH {
        position: absolute;
        top: 56px;
        left: 0;
        background-color: #f90;
        color: #fff;
        padding: 6px 10px 5px;
        border-radius: 3px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
        font-size: 0.7em;
        line-height: 1.35em;
        z-index: 2;
        display: none;
      }

      .txt_prompt_VNTH:before {
        content: "";
        position: absolute;
        top: -8px;
        right: 10px;
        border-style: solid;
        border-width: 0 9px 9px 0;
        border-color: transparent transparent #f90 transparent;
      }

      .bg_header_main {
        background: #0f548b url(../images/bg_header.jpg) repeat-y;
        color: #fff;
      }

      @media (min-width: 350px) {
        /* .swal2-popup.th-th {
min-width: 380px;
}*/
        .swal2-popup.zh-cn {
          min-width: 300px;
        }
      }
    </style>
    <div
      ng-controller="LoginPopupCtrl as ctrl"
      ng-style="
        !ctrl.needSetProtectCode ? { position: 'fixed', 'z-index': '99' } : ''
      "
      block-ui="LoginPopup"
    >
      <!--彈跳視窗-->
      <div
        class="mask_all"
        id="popup_login"
        ng-init="ctrl.login.UniqueSessionId = 'TM1418002221470216192'"
      >
        <div class="popup_container">
          <div class="popup_bg">
            <div class="popup">
              <div
                class="btn_close popup_close"
                ng-click="ctrl.ClearForm()"
              ></div>
              <div class="popup_T">Đăng nhập hội viên</div>
              <div class="popup_In">
                <!--內容-->
                <form
                  id="frmLogin"
                  name="frmLogin"
                  form-validation-setting="false"
                  custom-error-class="#errorstyle"
                  error-panel-id="after"
                  as-name="ctrl"
                  data-action="/Mobile/Home"
                >
                  <input
                    type="hidden"
                    value="/Mobile/Register/Register"
                    id="registerurl"
                  />
                  <input
                    type="hidden"
                    id="errorstyle"
                    value='{"parent":".login_list", "parentError":"error_login", "spanError":"error_login_t"}'
                  />
                  <div class="login_list">
                    <input
                      id="txtAccountID"
                      ng-if="!ctrl.login.ShowPhoneVerify"
                      name="txtAccountID"
                      type="text"
                      class="loginID"
                      placeholder="Tài khoản"
                      autocomplete="off"
                      required=""
                      ckaccountid="true"
                      ng-model="ctrl.login.AccountID"
                      ng-focus="ctrl.KeyboardClose('CellPhone')"
                      ng-blur="ctrl.VerifyAccountID()"
                      validate-input-reg-custom-immediate="false"
                      validate-input-reg-custom="^[A-Za-z0-9]{0,{{ 10 }}}$"
                      validate-input-reg-custom-blur="ctrl.TriggerInputOnBlur(val)"
                      max-length="10"
                      ng-trim="false"
                      capitalize=""
                    />
                    <input
                      id="txtAccountID"
                      ng-if="ctrl.login.ShowPhoneVerify"
                      name="txtAccountID"
                      type="text"
                      class="loginID"
                      placeholder="Tài khoản"
                      autocomplete="off"
                      required=""
                      cksafetyaccountid="true"
                      ng-model="ctrl.login.AccountID"
                      ng-focus="ctrl.KeyboardClose('CellPhone')"
                      ng-blur="ctrl.VerifyAccountID()"
                      validate-input-reg-custom-immediate="false"
                      validate-input-reg-custom="^[A-Za-z0-9]{0,10}$"
                      validate-input-reg-custom-blur="ctrl.TriggerInputOnBlur(val)"
                      max-length="10"
                      ng-trim="false"
                      capitalize=""
                    />
                  </div>
                  <div class="login_list">
                    <input
                      id="txtAccountPWD"
                      name="txtAccountPWD"
                      type="text"
                      class="loginPW"
                      placeholder="Mật khẩu"
                      autocomplete="new-password"
                      required=""
                      ckaccountpwd="true"
                      ng-model="ctrl.login.AccountPWD"
                      ng-focus="ctrl.KeyboardClose('CellPhone')"
                      ng-blur="ctrl.VerifyAccountPWD()"
                      validate-input-reg-custom-immediate="false"
                      validate-input-reg-custom="^[A-Za-z0-9]{0,10}$"
                      ng-trim="false"
                      allow-trim-space="true"
                      password-eye="false"
                    />
                    <a
                      href="/Mobile/Member/ForgetPwd"
                      ng-if="!ctrl.login.ShowPhoneVerify"
                      class="loginFG"
                      >Quên mật khẩu?</a
                    >
                  </div>
                  <div class="login_list">
                    <input
                      id="txtAccountPHONE"
                      name="txtAccountPHONE"
                      maxlength="10"
                      type="text"
                      oninput="this.value = this.value.replace(/[^0-9]/g, '');"
                      class="loginPW"
                      placeholder="Số điện thoại"
                      style="display: none"
                    />
                  </div>
                  <div class="login_list" ng-if="ctrl.login.ShowPhoneVerify">
                    <div
                      id="CellPhone"
                      name="CellPhone"
                      class="keyboard loginNum"
                      multi-show-numeric-keypad-v2=""
                      tabindex="100"
                      placeholder="Hãy nhập SĐT đã đăng ký"
                      ng-model="ctrl.login.CellPhone"
                      focus-to-top=""
                      numeric-blur="ctrl.VerifyCellPhoneByJqueryValid()"
                      numeric-close="ctrl.VerifyCellPhoneByJqueryValid()"
                      ng-bind="ctrl.login.CellPhone"
                    ></div>
                    <input
                      type="hidden"
                      id="hfCellPhone"
                      ng-value="ctrl.login.CellPhone"
                      required=""
                      ckcellphoneverifybylength="true"
                      ckcellphoneverify="true"
                    />
                    <a href="/Mobile/Member/ForgetPwd" class="loginFG"
                      >Quên mật khẩu?</a
                    >
                  </div>
                  <div>
                    <div
                      class="CellPhone"
                      multi-numeric-keypad-v2="CellPhone"
                      ng-model="ctrl.login.CellPhone"
                      numeric-keypad-call-back="ctrl.VerifyCellPhone()"
                      max-length="10"
                    ></div>
                  </div>
                  <div ng-if="ctrl.login.ShowSliderCaptcha" class="popVerify">
                    <slider-captcha
                      slider-bg-image="{{ ctrl.SliderBgImage }}"
                      slider-image="{{ ctrl.SliderImage }}"
                      slider-success="ctrl.HandleCaptchaSuccess(data)"
                      slider-fail="ctrl.HandleCaptchaFail()"
                      slider-refresh="ctrl.SliderRefreshCallback()"
                      trigger-verify="ctrl.VerifyLoginForm()"
                    ></slider-captcha>
                  </div>
                  <input
                    type="button"
                    class="btn_sign w50L"
                    value="Đăng ký ngay"
                    ng-if="!ctrl.login.ShowSliderCaptcha &amp;&amp; (true || ctrl.IsFriendExist())"
                    ng-click="ctrl.CheckIfRegister()"
                    ng-cloak=""
                  />
                  <input
                    id="btnLoginss"
                    type="button"
                    onclick="clickLogin()"
                    class="btn_sign w50"
                    ng-disabled="!ctrl.IsLoginButtonEnable()"
                    id="btnSignIn"
                    value="Đăng nhập"
                  />
                </form>
                <!--內容 end-->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div ng-cloak="" ng-if="ctrl.needSetProtectCode">
        <div
          ng-attr-id="{{ ctrl.isLoginPage ? 'container_main' : '' }}"
          ng-class="{
            'container_main noID protectcode_container': ctrl.isLoginPage
          }"
        >
          <div class="bg_header bg_header_main">
            <a class="btn_back" ng-click="ctrl.Back()"></a>
            <h1 class="bg_header_name">CÀI ĐẶT</h1>
          </div>
          <form
            method="post"
            id="protectLoginForm"
            name="protectLoginForm"
            form-validation-setting="false"
            error-span-no-remove="true"
            as-name="ctrl"
            ng-cloak=""
          >
            <div class="loginSet">
              Bạn chưa cài mật khẩu bảo mật, xin hãy xác nhận số điện thoại để
              hoàn tất việc cài đặt !
            </div>
            <div class="form" auto-block-area="" is-watch-http="true">
              <ul>
                <li class="marginBottom">
                  <div class="form_T">Mật khẩu bảo mật</div>
                  <div class="form_In">
                    <input
                      id="ProtectCode"
                      name="ProtectCode"
                      class="w100"
                      type="text"
                      max-length="10"
                      tips-content="Mật khẩu tối đa 10 ký tự !"
                      autocomplete="off"
                      placeholder="6 ~ 10 ký tự chữ và số"
                      ng-model="ctrl.login.ProtectCodeModel.PWD"
                      ng-change="ctrl.VerifyProtectLoginForm();ctrl.VerifyProtectCode()"
                      ng-focus="ctrl.KeyboardClose('ProtectCodeCaptchaCode'); ctrl.ShowTextPrompt()"
                      focus-to-top=""
                      validate-input-reg-custom="^[A-Za-z0-9]*$"
                      validate-input-reg-custom-immediate="false"
                      ng-trim="false"
                      allow-trim-space="true"
                      ckprotectcoderequired="true"
                      cksimplepassword="true"
                      password-eye="false"
                    />
                    <div class="txt_prompt_VNTH" style="display: none">
                      Không được cài đặt giống với mật khẩu tài khoản!
                    </div>
                  </div>
                  <span class="error_t right_t"></span>
                </li>
                <li class="marginBottom">
                  <div class="form_T">Xin hãy nhập lại</div>
                  <div class="form_In">
                    <input
                      id="CheckPWDConfirmation"
                      name="CheckPWDConfirmation"
                      class="w100"
                      type="text"
                      maxlength="10"
                      autocomplete="off"
                      placeholder="6 ~ 10 ký tự chữ và số"
                      ng-model="ctrl.login.ProtectCodeModel.PWDConfirmation"
                      ng-change="ctrl.VerifyProtectLoginForm();ctrl.VerifyCheckPWDConfirmation()"
                      ng-focus="ctrl.KeyboardClose('ProtectCodeCaptchaCode')"
                      focus-to-top=""
                      ckprotectcodeconfirmation="true"
                      validate-input-reg-custom="^[A-Za-z0-9]*$"
                      validate-input-reg-custom-immediate="false"
                      ng-trim="false"
                      allow-trim-space="true"
                      ckcheckpwdconfirmationrequired="true"
                      password-eye="false"
                    />
                  </div>
                  <span class="error_t right_t"></span>
                </li>
                <li
                  ng-class="!ctrl.login.ElementManager.IsVisible('ProtectCodeSendCaptchaButton') &amp;&amp; !ctrl.login.ProtectCodeModel.IsCaptchaCodeVerified ? 'marginBottom_modify':''"
                >
                  <div class="form_T">SĐT</div>
                  <div class="form_In">
                    <div
                      class="w100"
                      style="color: black"
                      ng-model="ctrl.login.ProtectCodeModel.CellPhone"
                      ng-bind="ctrl.login.ProtectCodeModel.CellPhone"
                    ></div>
                  </div>
                  <div class="form_Code">
                    <!-- 短信按鈕 -->
                    <input
                      type="button"
                      class="btn_code"
                      id="ProtectCodeSendCaptchaButton"
                      ng-class="ctrl.GetSendCaptchaButtonClass()"
                      ng-if="ctrl.login.ElementManager.IsVisible('ProtectCodeSendCaptchaButton') &amp;&amp; !ctrl.login.ProtectCodeModel.IsCaptchaCodeVerified &amp;&amp; !ctrl.login.ProtectCodeModel.IsCallCustomerService"
                      ng-disabled="!ctrl.IsSendCaptchaButtonEnabled()"
                      is-auto-disabled="false"
                      ng-click="ctrl.SendCaptchaButtonClick()"
                      ng-bind="ctrl.GetSendCaptchaButtonName()"
                      original-name="{{
                        ctrl.login.ProtectCodeModel.SendCaptchaButtonName
                      }}"
                      ng-value="ctrl.GetSendCaptchaButtonName()"
                    />
                    <input
                      type="button"
                      class="btn_code call"
                      id="ProtectCodeSendCaptchaButton2"
                      ng-if="!ctrl.login.ProtectCodeModel.IsCaptchaCodeVerified &amp;&amp; ctrl.login.ProtectCodeModel.IsCallCustomerService"
                      ng-disabled="!ctrl.IsSendCaptchaButtonEnabled()"
                      ng-click="ctrl.SendCustomerService()"
                      value="Liên hệ hỗ trợ"
                    />
                    <img
                      ng-if="ctrl.login.ProtectCodeModel.IsCaptchaCodeVerified"
                      class="icon_confirmOk"
                      src="/mobile/images/icon_confirmOk.svg"
                      style="cursor: not-allowed"
                    />
                  </div>
                </li>
              </ul>
              <div class="form_button">
                <input
                  id="btnLogins"
                  type="button"
                  class="w100"
                  value="Xác nhận"
                  ng-promise-click="ctrl.SignCheck(true)"
                  ajax-submit-auto-disable-v2="Đang đăng nhập"
                  ng-disabled="!ctrl.login.ElementManager.IsEnabled('ProtectCodeLoginButton')"
                />
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="mask_join mask_new" id="loginSet" style="display: none">
        <div class="popup_container">
          <div class="popup_bg">
            <div class="popup">
              <div class="popup_T">Tin nhắn</div>
              <div class="popup_In">
                <!--內容-->
                <div class="popupCenter">
                  Chưa cài đặt mật khẩu bảo mật sẽ không thể đăng nhập, có tiếp
                  tục hay không ?
                </div>
              </div>
              <div class="popup_button">
                <input
                  type="button"
                  class="w50L"
                  value="Thoát"
                  ng-click="ctrl.popupConfirm()"
                />
                <input
                  type="button"
                  class="w50R popup_close"
                  value="Tiếp tục"
                  ng-click="ctrl.popupCancel()"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <input
      type="hidden"
      id="hfLoginVerification"
      ng-init="ctrl.login.LoginVerification = '0'"
      ng-value="0"
    />
    <style>
      #mask_SliderCaptcha .popup {
        width: fit-content;
      }

      #mask_SliderCaptcha .popup_In {
        padding: 0 25px 6px 25px;
      }

      /*T39349 取代main.css的popup屬性與margin-top重置*/

      #mask_SliderCaptcha .popup_In {
        padding-top: 18px !important;
      }

      #mask_SliderCaptcha .popup_button {
        margin-top: 0px !important;
        padding-bottom: 18px !important;
      }

      @media (min-width: 320px) and (max-width: 360px) {
        #mask_SliderCaptcha .popup_In {
          padding-top: 15px !important;
          padding: 0 7px 0 7px;
        }
        #mask_SliderCaptcha .popup_button {
          margin-top: 0px !important;
          padding-bottom: 15px !important;
        }
      }

      @media (min-width: 361px) and (max-width: 399px) {
        #mask_SliderCaptcha .popup_In {
          padding: 0 17px 0 17px;
        }
      }

      @media (min-width: 400px) {
        #mask_SliderCaptcha .popup_In {
          padding-top: 26px !important;
        }
        #mask_SliderCaptcha .popup_button {
          margin-top: 0px !important;
          padding-bottom: 26px !important;
        }
      }
    </style>
    <div
      ng-controller="CaptchaCodePanelCtrl as ctrl"
      block-ui="CaptchaCodePanel"
    >
      <!--彈跳驗證碼視窗-->
      <div
        class="mask_all"
        id="msgBox"
        style="display: none"
        ng-style="{ display: ctrl.IsVisible() ? 'block' : 'none' }"
        ng-show="ctrl.IsVisible()"
      >
        <div class="msgBox">
          <div class="btn_close" ng-click="ctrl.EmitPanelClose()"></div>
          <div
            class="msgBox_T"
            ng-show="ctrl.model.CurrentVerifyModeCache == 1"
          >
            Xác nhận qua SMS
          </div>
          <div
            class="msgBox_Txt"
            ng-show="ctrl.model.CurrentVerifyModeCache == 1"
          >
            Đã gửi mã xác nhận đến {{ ctrl.model.Options.CellPhone }}
          </div>
          <div
            class="msgBox_T"
            ng-show="ctrl.model.CurrentVerifyModeCache == 2"
          >
            Xác nhận bằng giọng nói
          </div>
          <div
            class="msgBox_Txt"
            ng-show="ctrl.model.CurrentVerifyModeCache == 2"
          >
            Đã gọi đến số {{ ctrl.model.Options.CellPhone }}
            <br />
            <img
              class="img_call"
              ng-src="/mobile/images/icon_errorHint.svg"
            />Vui lòng chú ý để nhận cuộc gọi！
          </div>
          <ul class="msgBox_Num">
            <li ng-class="ctrl.model.CaptchaCode1 == '' ? '' : 'on'">
              {{ ctrl.model.CaptchaCode1 }}
            </li>
            <li ng-class="ctrl.model.CaptchaCode2 == '' ? '' : 'on'">
              {{ ctrl.model.CaptchaCode2 }}
            </li>
            <li ng-class="ctrl.model.CaptchaCode3 == '' ? '' : 'on'">
              {{ ctrl.model.CaptchaCode3 }}
            </li>
            <li ng-class="ctrl.model.CaptchaCode4 == '' ? '' : 'on'">
              {{ ctrl.model.CaptchaCode4 }}
            </li>
          </ul>
          <div
            id="verifyCaptchaCodeButton"
            class="CaptchaCode"
            multi-numeric-keypad-v2="CaptchaCode"
            ng-model="ctrl.model.CaptchaCode"
            numeric-keypad-call-back="ctrl.VerifyCaptchaChange(true)"
            max-length="4"
          ></div>
          <div class="form_button">
            <input
              type="button"
              class="w100 bg_colorDB"
              id="btn02"
              ng-class="ctrl.GetSendCaptchaButtonClass()"
              ng-click="ctrl.SendCaptchaButtonClick()"
              ng-disabled="!ctrl.model.ElementManager.IsEnabled('sendCaptchaButton')"
              ng-value="ctrl.GetSendCaptchaButtonName()"
              original-name="{{ ctrl.GetSendCaptchaButtonName() }}"
              ng-if="ctrl.model.CallCustomerServiceCounts <= 0 &amp;&amp; ctrl.IsSendCaptchaButtonEnabled()"
            />
            <div class="w100 off" ng-if="!ctrl.IsSendCaptchaButtonEnabled()">
              Gửi lại
              <span class="t_yellow">{{ ctrl.model.CountDownSecond }} S</span>
            </div>
            <input
              type="button"
              class="w100 bg_colorDG"
              id="btn03"
              ng-value="ctrl.model.CallCustomerServiceButtonName"
              ng-click="ctrl.SendCustomerService()"
              ng-disabled="ctrl.model.CloseResult.LockCallCustomerService"
              ng-if="ctrl.model.CallCustomerServiceCounts > 0 &amp;&amp; ctrl.IsSendCaptchaButtonEnabled()"
            />
          </div>
        </div>
      </div>
      <!--滑塊驗證碼-->
      <div class="mask_join full_layout" id="mask_SliderCaptcha">
        <div class="popup_container">
          <div class="popup_bg_upper full_layout">
            <!--T38732 11/11 安全驗證彈窗按鈕處白背景需完整顯示-->
            <div class="popup" style="background-color: #fff">
              <div
                class="btn_close popup_close"
                ng-click="ctrl.CaptchaImageClose()"
              ></div>
              <div class="popup_T">
                <span>Xác nhận bảo mật</span>
              </div>
              <div class="popup_In">
                <!--內容-->
                <slider-captcha
                  slider-bg-image="{{ ctrl.SliderBgImage }}"
                  slider-image="{{ ctrl.SliderImage }}"
                  slider-max-error="5"
                  slider-success="ctrl.HandleCaptchaSuccess(data)"
                  slider-fail="ctrl.HandleCaptchaFail()"
                  slider-refresh="ctrl.SliderRefreshCallback()"
                ></slider-captcha>
                <!--內容 end-->
              </div>
              <div class="popup_button"></div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="mask_all"
        id="PopSuccess"
        ng-click="ctrl.ClosePopSuccess();"
        style="display: none"
      >
        <div class="popup_container">
          <div class="popup_bg">
            <div class="popup popupShort">
              <div class="popup_In">
                <div class="popupS_T">
                  <img src="/mobile/images/icon_checkGreen.svg" />
                </div>
                <div class="popupS_In">Xác minh thành công!</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <input type="hidden" id="hfDefaultCountDownSecond" value="30" />
    </div>
    <script src="/mobile/js/thirdpartyplugin.m-memberportal.20181204A.js"></script>
    <script src="/mobile/js/swiper.v7.4.1.m-memberportal.20181204A.js"></script>
    <script src="/mobile/js/base.m-memberportal.20181204A.js"></script>
    <script src="/mobile/js/app.m.js"></script>
    <script src="/mobile/js/menu.m.js"></script>
    <script src="/mobile/js/mobile-home-login.js"></script>
    <script type="text/javascript">
      OBSMobileApp.GlobalJsConfig.SetConfig({
        SignalRNFSvcHost: "//sgrapi.ku6688.net/NFSvc",
        SignalRNFSvcIsDebug: "false",
        GetGameBalanceTime: "30",
        DDDFastTransferCallBackUrl: "",
        FastTransferGameID: "",
        EntryRef: "",
        SiteCulture: "vi-vn",
        CountryID: "618",
        SiteCultureAcronym: "VN",
      });
    </script>
    <div id="valid-rule-block">
      <valid-rule
        rule-name="maxlength"
        rule-message="Nhập 4 ~ 10 ký tự chữ và số hoặc số điện thoại"
      ></valid-rule>
      <valid-rule
        rule-name="required"
        rule-message="Bắt buộc điền"
      ></valid-rule>
      <valid-rule
        rule-name="ckAccountID"
        rule-message="Nhập 4 ~ 10 ký tự chữ và số hoặc số điện thoại"
      ></valid-rule>
      <valid-rule
        rule-name="ckSafetyAccountID"
        rule-message="Tài khoản là tổ hợp 4 ~ 10 ký tự chữ và số"
      ></valid-rule>
      <valid-rule
        rule-name="ckAccountPWD"
        rule-message="6 ~ 10 ký tự chữ và số"
      ></valid-rule>
      <valid-rule
        rule-name="ckCellPhoneVerifyByLength"
        rule-message="Vui lòng nhập số điện thoại chính xác"
      ></valid-rule>
      <valid-rule
        rule-name="ckCellPhoneVerify"
        rule-message="Sai quy cách SĐT Việt Nam"
      ></valid-rule>
      <valid-rule
        rule-name="ckPWD"
        rule-message="6 ~ 10 ký tự chữ và số"
      ></valid-rule>
      <valid-rule
        rule-name="ckProtectCodeConfirmation"
        rule-message="Mật khẩu bảo mật không thống nhất!"
      ></valid-rule>
      <valid-rule
        rule-name="ckProtectCodeRequired"
        rule-message="Mật khẩu bảo mật không được để trống!"
      ></valid-rule>
      <valid-rule
        rule-name="ckCheckPWDConfirmationRequired"
        rule-message="Xin hãy nhập lại không được để trống!"
      ></valid-rule>
      <valid-rule
        rule-name="ckSimplePassword"
        rule-message="Mật khẩu quá đơn giản, hãy thiết lập lại"
      ></valid-rule>
    </div>
    <div id="alert-rule-block">
      <alert-rule
        rule-name="系統異常請稍後再試"
        rule-message="Lỗi hệ thống, vui lòng thử lại sau"
      ></alert-rule>
      <alert-rule
        rule-name="網路異常，請刷新頁面"
        rule-message="Lỗi mạng, vui lòng làm mới giao diện"
      ></alert-rule>
      <alert-rule
        rule-name="請求異常，請稍後再試"
        rule-message="Lỗi truy cập, vui lòng thử lại sau"
      ></alert-rule>
      <alert-rule rule-name="確認" rule-message="Xác nhận"></alert-rule>
      <alert-rule
        rule-name="登入錯誤次數超過10次"
        rule-message="Số lần đăng nhập sai vượt quá 10 lần"
      ></alert-rule>
      <alert-rule rule-name="登 錄" rule-message="Đăng nhập"></alert-rule>
      <alert-rule rule-name="登錄中" rule-message="Đang đăng nhập"></alert-rule>
      <alert-rule
        rule-name="網站維護中，無法進行註冊"
        rule-message="Trang mạng đang bảo trì, không thể đăng ký hội viên"
      ></alert-rule>
      <alert-rule
        rule-name="很抱歉，目前會員註冊關閉中"
        rule-message="Xin lỗi, hiện tại không mở chức năng đăng ký hội viên"
      ></alert-rule>
      <alert-rule rule-name="請重新嘗試" rule-message="Thử lại"></alert-rule>
      <alert-rule
        rule-name="向右滑動填充拼圖"
        rule-message="Trượt qua phải ghép hình"
      ></alert-rule>
      <alert-rule
        rule-name="帳號/手機號碼"
        rule-message="Tài khoản / SĐT"
      ></alert-rule>
      <alert-rule rule-name="帳號" rule-message="Tài khoản"></alert-rule>
      <alert-rule
        rule-name="未設置保護密碼則無法登入帳號，是否繼續？"
        rule-message="Chưa cài đặt mật khẩu bảo mật sẽ không thể đăng nhập, có tiếp tục hay không ?"
      ></alert-rule>
      <alert-rule rule-name="離開" rule-message="Thoát"></alert-rule>
      <alert-rule rule-name="繼續" rule-message="Tiếp tục"></alert-rule>
      <alert-rule
        rule-name="您今日驗證次數已達上限，請聯繫客服專員!"
        rule-message="Số lần xác nhận trong ngày của bạn đã đạt mức tối đa, vui lòng liên hệ hỗ trợ!"
      ></alert-rule>
      <alert-rule
        rule-name="客服人員將致電與您聯繫，請您留意接聽電話"
        rule-message="Nhân viên hỗ trợ sẽ liên hệ bạn, vui lòng chú ý để nhận cuộc gọi"
      ></alert-rule>
      <alert-rule
        rule-name="很抱歉，回電服務目前關閉中，請暫時使用其他客服管道聯繫我們，謝謝！"
        rule-message="Xin lỗi, dịch vụ gọi lại hiện tại không thể sử dụng, hãy sử dụng cách khác để liên hệ với chúng tôi, cảm ơn!"
      ></alert-rule>
      <alert-rule rule-name="重發驗證碼" rule-message="Gửi lại"></alert-rule>
      <alert-rule
        rule-name="聯繫客服"
        rule-message="Liên hệ hỗ trợ"
      ></alert-rule>
      <alert-rule rule-name="獲取驗證碼" rule-message="Gửi mã"></alert-rule>
      <alert-rule
        rule-name="您輸入的手機號碼未驗證，請聯繫客服，謝謝！"
        rule-message="Số điện thoại bạn nhập chưa xác nhận, vui lòng liên hệ hỗ trợ, cám ơn!"
      ></alert-rule>
      <alert-rule rule-name="發送中" rule-message="Đang gửi"></alert-rule>
      <alert-rule
        rule-name="保護密碼與登錄密碼不可相同"
        rule-message="Mật khẩu bảo mật và Mật khẩu tài khoản không được giống nhau"
      ></alert-rule>
      <alert-rule
        rule-name="保護密碼與會員帳號不可相同"
        rule-message="Phải khác tài khoản đăng nhập"
      ></alert-rule>
      <alert-rule
        rule-name="帳號或密碼錯誤"
        rule-message="Tài khoản hoặc mật khẩu sai"
      ></alert-rule>
      <alert-rule
        rule-name="登入頻繁，請稍後再登入！！！"
        rule-message="Đăng nhập quá thường xuyên, vui lòng đăng nhập sau!!!"
      ></alert-rule>
      <alert-rule rule-name="信息" rule-message="Tin nhắn"></alert-rule>
      <alert-rule rule-name="短信" rule-message="Gửi mã"></alert-rule>
      <alert-rule
        rule-name="您的帳號已被鎖定"
        rule-message="Tài khoản của bạn đã bị khóa"
      ></alert-rule>
      <alert-rule
        rule-name="請聯繫客服，謝謝"
        rule-message="Vui lòng liên hệ hỗ trợ, cám ơn"
      ></alert-rule>
      <alert-rule
        rule-name="請檢查輸入網址是否有誤，網路信號是否正常，請嘗試重新整理頁面或聯繫客服!"
        rule-message="Vui lòng kiểm tra địa chỉ trang mạng chính xác hay không, tín hiệu đường truyền có bình thường không, vui lòng làm mới giao diện hoặc liên hệ hỗ trợ!"
      ></alert-rule>
      <alert-rule
        rule-name="請勿提供手機驗證碼給他人！！"
        rule-message="Vui lòng không cung cấp mã xác minh OTP cho bất kì ai!!"
      ></alert-rule>
      <alert-rule rule-name="讀取中" rule-message="loading"></alert-rule>
      <alert-rule rule-name="短信" rule-message="Gửi mã"></alert-rule>
      <alert-rule rule-name="語音" rule-message="Tin nhắn thoại"></alert-rule>
      <alert-rule
        rule-name="發送語音驗證碼"
        rule-message="Gửi mã xác nhận qua tin nhắn thoại"
      ></alert-rule>
      <alert-rule rule-name="重發" rule-message="Gửi lại"></alert-rule>
      <alert-rule rule-name="重發驗證碼" rule-message="Gửi lại"></alert-rule>
      <alert-rule rule-name="發送中" rule-message="Đang gửi"></alert-rule>
      <alert-rule
        rule-name="聯繫客服"
        rule-message="Liên hệ hỗ trợ"
      ></alert-rule>
      <alert-rule rule-name="已驗證" rule-message="Đã xác nhận"></alert-rule>
      <alert-rule rule-name="轉點中" rule-message="Đang chuyển"></alert-rule>
      <alert-rule
        rule-name="轉點金額不能大於帳戶餘額"
        rule-message="Điểm chuyển không được nhiều hơn số dư trong tài khoản"
      ></alert-rule>
      <alert-rule rule-name="載入中" rule-message="Đang tải"></alert-rule>
      <alert-rule rule-name="維護中" rule-message="Đang bảo trì"></alert-rule>
      <alert-rule
        rule-name="請輸入轉點金額"
        rule-message="Vui lòng nhập số tiền chuyển điểm"
      ></alert-rule>
      <alert-rule
        rule-name="轉點成功"
        rule-message="Chuyển điểm thành công"
      ></alert-rule>
      <alert-rule rule-name="進入遊戲" rule-message="Vào trò chơi"></alert-rule>
      <alert-rule rule-name="關閉視窗" rule-message="Tắt cửa sổ"></alert-rule>
      <alert-rule
        rule-name="維護中，請稍後再試"
        rule-message=" đang bảo trì."
      ></alert-rule>
      <alert-rule
        rule-name="請輸入整數金額"
        rule-message="Nhập số nguyên"
      ></alert-rule>
      <alert-rule
        rule-name="請輸入金額"
        rule-message="Nhập số điểm"
      ></alert-rule>
      <alert-rule
        rule-name="很抱歉，目前轉帳功能維護中"
        rule-message="Xin lỗi, chức năng chuyển khoản đang bảo trì"
      ></alert-rule>
      <alert-rule
        rule-name="很抱歉，目前轉帳功能維護中！"
        rule-message="Xin lỗi, chức năng chuyển khoản đang bảo trì！"
      ></alert-rule>
      <alert-rule
        rule-name="平台轉帳維護中"
        rule-message="Chuyển khoản bảo trì"
      ></alert-rule>
      <alert-rule
        rule-name="您存入的額度高於上限"
        rule-message="Số tiền bạn nạp vào cao hơn mức tối đa"
      ></alert-rule>
      <alert-rule
        rule-name="您的可轉金額為0"
        rule-message="Số tiền bạn có thể chuyển là 0"
      ></alert-rule>
      <alert-rule
        rule-name="主帳戶餘額不足"
        rule-message="Số dư của bạn không đủ"
      ></alert-rule>
      <alert-rule
        rule-name="今日互轉次數已達到限定值"
        rule-message="Số lần chuyển điểm trong ngày đã đạt mức hạn chế"
      ></alert-rule>
      <alert-rule
        rule-name="今日互轉額度已達限定值"
        rule-message="Số điểm chuyển trong ngày đã đạt mức hạn chế"
      ></alert-rule>
      <alert-rule
        rule-name="您的可用額度不足"
        rule-message="Số dư của bạn không đủ"
      ></alert-rule>
      <alert-rule
        rule-name="代理商金額不足"
        rule-message="Số dư đại lý không đủ"
      ></alert-rule>
      <alert-rule
        rule-name="【{0}】與【{1}】互轉失敗，請聯繫客服！"
        rule-message="【{0}】và【{1}】Chuyển điểm thất bại, vui lòng liên hệ hỗ trợ!"
      ></alert-rule>
      <alert-rule rule-name="主帳戶" rule-message="TK Chính"></alert-rule>
      <alert-rule
        rule-name="很抱歉，目前存款功能暫不開放，請聯繫客服中心！"
        rule-message="Xin lỗi, hiện tại chức năng nạp tiền tạm thời chưa mở, xin vui lòng liên hệ hỗ trợ khách hàng!"
      ></alert-rule>
      <alert-rule
        rule-name="您已完善資料，待通過資料審核，"
        rule-message="Bạn đã hoàn tất tư liệu, vui lòng chờ thông qua xét duyệt,"
      ></alert-rule>
      <alert-rule
        rule-name="即開放存款，請耐心等候"
        rule-message="Mở nạp tiền, vui lòng chờ đợi"
      ></alert-rule>
      <alert-rule
        rule-name="很抱歉，目前提款功能暫不開放，請聯繫客服中心！"
        rule-message="Xin lỗi, hiện tại chức năng rút tiền tạm thời chưa mở, xin vui lòng liên hệ hỗ trợ khách hàng!"
      ></alert-rule>
      <alert-rule
        rule-name="很抱歉，目前存提款功能維護中"
        rule-message="Xin lỗi, hiện nay chức năng nạp rút tiền đang bảo trì"
      ></alert-rule>
      <alert-rule
        rule-name="很抱歉，目前存提款功能暫不開放，請聯繫客服中心！"
        rule-message="Xin lỗi, hiện tại chức năng nạp rút tiền tạm thời chưa mở, xin vui lòng liên hệ hỗ trợ khách hàng!"
      ></alert-rule>
      <alert-rule
        rule-name="您已完善資料，待通過資料審核，即開放存款，請耐心等候"
        rule-message="Bạn đã hoàn thiện thông tin, sau khi xét duyệt thông qua sẽ mở chức năng nạp tiền, vui lòng nhẫn nại chờ đợi"
      ></alert-rule>
      <alert-rule
        rule-name="轉帳功能維護中"
        rule-message="đang bảo trì"
      ></alert-rule>
      <alert-rule
        rule-name="XXX與XXX互轉失敗，請重新操作"
        rule-message="{0} và {1} Chuyển điểm thất bại, vui lòng thao tác lại"
      ></alert-rule>
      <alert-rule
        rule-name="轉點失敗"
        rule-message="Chuyển điểm thất bại"
      ></alert-rule>
      <alert-rule
        rule-name="轉點失敗，請重新操作"
        rule-message="Chuyển điểm thất bại, vui lòng thao tác lại"
      ></alert-rule>
      <alert-rule rule-name="繁忙中" rule-message="Đang bận"></alert-rule>
      <alert-rule
        rule-name="系統繁忙請稍候"
        rule-message="Hệ thống đang bận, vui lòng chờ"
      ></alert-rule>
      <alert-rule
        rule-name="正在維護中，請先至本網站其他項目進行投注！"
        rule-message="đang bảo trì, vui lòng đặt cược hạng mục khác trước, cảm ơn !"
      ></alert-rule>
      <alert-rule
        rule-name="單筆互轉額度超過限定值"
        rule-message="Số điểm chuyển vượt quá mức tối đa của một lần chuyển"
      ></alert-rule>
      <alert-rule
        rule-name="主帳戶與XXX互轉失敗，請重新操作"
        rule-message="TK Chính và {0} Chuyển điểm thất bại, vui lòng thao tác lại"
      ></alert-rule>
      <alert-rule
        rule-name="主帳戶與XXX互轉失敗"
        rule-message="Tài khoản chính và《{0}》chuyển khoản cho nhau thất bại"
      ></alert-rule>
      <alert-rule rule-name="3D館" rule-message="3D"></alert-rule>
      <alert-rule
        rule-name="您沒有額度，請先進行轉帳！"
        rule-message="您沒有額度，請先進行轉帳！"
      ></alert-rule>
      <alert-rule
        rule-name="請求失敗"
        rule-message="Yêu cầu thất bại"
      ></alert-rule>
      <alert-rule rule-name="轉帳" rule-message="Chuyển khoản"></alert-rule>
      <alert-rule
        rule-name="操作次數過於頻繁，請稍候再試"
        rule-message="Số lần thao tác quá thường xuyên, vui lòng thử lại sau"
      ></alert-rule>
      <alert-rule
        rule-name="轉帳金額需高於5點以上"
        rule-message="Số điểm chuyển phải cao hơn 5 điểm"
      ></alert-rule>
      <alert-rule
        rule-name="轉帳金額低於限制，請轉入5點以上！"
        rule-message="Số điểm chuyển thấp hơn hạn mức,vui lòng chuyển trên 5 điểm!"
      ></alert-rule>
      <alert-rule
        rule-name="轉帳金額低於限制"
        rule-message="Số điểm chuyển thấp hơn hạn mức"
      ></alert-rule>
      <alert-rule
        rule-name="請轉入5點以上"
        rule-message="vui lòng chuyển từ 5 điểm trở lên"
      ></alert-rule>
      <alert-rule
        rule-name="在3D電子遊戲中或離開遊戲30秒內，暫不允許提點"
        rule-message="Đang trong 3D hoặc rời khỏi trò chơi trong vòng 30 giây thì không được phép chuyển điểm"
      ></alert-rule>
    </div>
  </body>
</html>
