<!DOCTYPE html>
<html ng-app="OBSMobileApp">
  <head>
    <script src="/mobile/js/root-module.js"></script>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"
    />
    <meta http-equiv="cache-control" content="no-siteapp" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="browsermode" content="application" />
    <meta name="apple-mobile-web-app-title" content="KU Web" />
    <meta name="apple-mobile-web-app-capable" content="no" />
    <meta name="mobile-web-app-capable" content="no" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link
      rel="shortcut icon"
      href="/mobile/images/favicon.ico"
      type="image/x-icon"
    />
    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="/mobile/images/apple-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="/mobile/images/apple-icon-60x60.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="/mobile/images/apple-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="/mobile/images/apple-icon-76x76.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="/mobile/images/apple-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="/mobile/images/apple-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="/mobile/images/apple-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="/mobile/images/apple-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/mobile/images/apple-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/mobile/images/android-icon-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/mobile/images/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="/mobile/images/favicon-96x96.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/mobile/images/favicon-16x16.png"
    />
    <title>KU Web</title>
    <style>
      [ng\:cloak],
      [ng-cloak],
      [data-ng-cloak],
      [x-ng-cloak],
      .ng-cloak,
      .x-ng-cloak {
        display: none !important;
      }

      html {
        -webkit-text-size-adjust: none;
        /* Never autoresize text */
      }
    </style>
    <link href="/mobile/css/mobile_main.css" rel="stylesheet" />
    <link href="/mobile/css/bonus.css" rel="stylesheet" />
    <style type="text/css">
      .paddingTopZero {
        padding-top: 0 !important;
      }

      /* 解決上方選單因同名樣式跑版問題 */

      /* 最新優惠套: main.css樣式; 好禮五選一介紹頁: WC_main.css */

      .container_T {
        position: fixed;
        width: 100%;
        background-color: #fff;
        z-index: 3;
        top: 0;
        padding: 40px 4% 0;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: space-around;
      }

      .container_T h3 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
        font-size: 0.8em;
        height: 40px;
        margin: 0;
        box-sizing: border-box;
        cursor: pointer;
        color: #000000;
        border-bottom: 0;
      }

      .container_T h3 + h3 {
        margin-left: 2%;
      }

      .container_T h3 span {
        position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100%;
        width: 100%;
        line-height: 1em;
      }

      .container_T h3.on {
        color: #648fb2;
      }

      .container_T h3.on:not(.w100) span:after {
        content: "";
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 3px;
        background-color: #648fb2;
        border-radius: 100px;
        left: 0;
        right: 0;
        margin: auto;
      }

      .container_T h3.on.t_orange span:after {
        background-color: #ff7800;
      }

      .container_T ~ .bonus,
      .container_T + div {
        margin-top: 40px;
      }

      .container_T + .venueInfo {
        position: fixed;
        z-index: 2;
      }
    </style>
  </head>

  <body ontouchstart="">
    <a
      href="https://www.mykubet.com/"
      style="display: block; overflow: hidden; height: 0; width: 0"
    ></a>
    <a
      href="https://www.kubetkubet.com/"
      style="display: block; overflow: hidden; height: 0; width: 0"
    ></a>
    <a
      href="https://www.kubetnav.com/"
      style="display: block; overflow: hidden; height: 0; width: 0"
    ></a>
    <a
      href="https://www.te7.com.tw/"
      style="display: block; overflow: hidden; height: 0; width: 0"
    ></a>
    <a
      href="https://www.ex589.com/home/"
      style="display: block; overflow: hidden; height: 0; width: 0"
    ></a>
    <a
      href="https://www.casino5168.com/"
      style="display: block; overflow: hidden; height: 0; width: 0"
    ></a>
    <a
      href="https://www.ex5888.com/"
      style="display: block; overflow: hidden; height: 0; width: 0"
    ></a>
    <ajax-anti-forgery-token
      token="-1PePSrCFkibXRwzHoYGDOH2hhzBFQk_ofdOhPBc26VlZyYGbJ8sexGPmpKHHYmJ6k8sVnE_GstEUs9XZ2gBYI2J2gg1:u1_U4wP4uj03a-xjpJh9eMfq2hDxGVTabf_FJO72u8cz-vOtLURtD4tplCeWM3uW6Igd0mYiU_nJctyihZLOtZ2Xcbo1"
    ></ajax-anti-forgery-token>
    <!-- start Header -->
    <div ng-controller="HeaderCtrl as ctrl" class="bg_header">
      <div>
        <img
          src="/mobile/images/logo_KU.png"
          style="display: none"
          onload="IMG_ID = '29039ed48c7749aa8a4d7d7b0d3a0eb1';IMG_PG = 'e3f08305dF03m1Dp'"
        />
      </div>
      <a class="btn_back" onclick="location.href='/Mobile/Home'"></a>
      <h1 class="bg_header_name">ƯU ĐÃI</h1>
      <div style="display: none">
        <div
          id="signout"
          class="btn_inforOut"
          ng-click="ctrl.DoSignOut()"
          data-signout="/Mobile/Home/login"
        ></div>
      </div>
    </div>
    <div
      id="inforMDropOUT"
      ng-controller="HeaderGamePointListCtrl as ctrl"
      class="inforMDropOUT"
    >
      <div class="inforMDrop">
        <ul class="inforMDropT">
          <li
            ng-repeat="row in ctrl.model.GameMenusBalanceList track by row.GameID"
          >
            <div
              ng-bind="row.ServiceName"
              ng-class="{ true: 't_pink', false: '' }[row.Visible == '0']"
            ></div>
            <div ng-if="row.Balance !== null &amp;&amp; row.Visible == '1'">
              <span ng-bind="row.Balance | number"> </span>
              <span
                class="returnP"
                ng-if="row.Balance >= 1"
                ng-click="ctrl.TransferPoint(row.GameID, ctrl.FindPlatform(row.GameID).Balance, row.ServiceName)"
                ng-disabled="!ctrl.isEnabled"
                >Chuyển về</span
              >
            </div>
            <div ng-if="row.Balance === null &amp;&amp; row.Visible !== '0'">
              <img src="/mobile/images/spinner.svg" />
            </div>
            <div
              class="t_pink"
              style="white-space: nowrap"
              ng-if="row.Balance == 0 &amp;&amp; row.Visible == '0'"
            >
              Đang bảo trì
            </div>
          </li>
        </ul>
        <ul class="inforMDropB">
          <li>
            <div class="t_yellow">Tổng số điểm</div>
            <div
              class="t_yellow"
              ng-bind="ctrl.model.LoginAreaPointsControlCenter.TotalBalance | number"
            ></div>
          </li>
          <li
            ng-repeat="row in ctrl.model.GameMenusBottomList track by row.GameID"
          >
            <div ng-bind="row.ServiceName" class="t_purple"></div>
            <div
              ng-if="row.Balance !== null &amp;&amp; row.Visible == '1'"
              ng-bind="row.Balance | number"
              style="color: #cb83ff"
            ></div>
            <div ng-if="row.Balance === null &amp;&amp; row.Visible !== '0'">
              <img src="/mobile/images/spinner.svg" />
            </div>
            <div
              style="white-space: nowrap; color: #cb83ff"
              ng-if="row.Visible == '0' &amp;&amp; row.Balance !== null"
              ng-bind="row.Balance | number"
            ></div>
          </li>
          <li class="btn_backAll">
            <span
              ng-if="ctrl.CheckTopMenuPermission('CanPlatfromTransfer') &amp;&amp; ctrl.NoneAvailableGame == false"
            >
              <a
                ng-click="ctrl.TransferGamesPointToMain()"
                id="transferGamesPoint"
                style="border: none; font-size: 1em"
              >
                Chuyển hết về tài khoản chính
              </a>
            </span>
            <span
              ng-if="
                !ctrl.CheckTopMenuPermission('CanPlatfromTransfer') ||
                ctrl.NoneAvailableGame == true
              "
            >
              <a class="returnMainP off" style="border: none; font-size: 1em">
                Chuyển hết về tài khoản chính
                <div class="t_backAll_off">Đang bảo trì</div>
              </a>
            </span>
          </li>
        </ul>
      </div>
    </div>
    <!-- end Header -->
    <div id="container_main" class="container_main noID noBottom" ng-cloak="">
      <div
        ng-controller="LatestOffersCtrl as ctrl"
        ng-cloak=""
        ng-show="ctrl.Loading"
      >
        <div class="container_T">
          <h3 id="container01" ng-click="ctrl.ToggleContainerT('1')" class="on">
            <span>Toàn bộ</span>
          </h3>
          <!-- 全部 -->
          <h3 id="container02" ng-click="ctrl.ToggleContainerT('2')">
            <span>Hội viên mới</span>
          </h3>
          <!-- 新會 -->
          <h3 id="container03" ng-click="ctrl.ToggleContainerT('3')">
            <span>Thường nhật</span>
          </h3>
          <!-- 日常 -->
          <h3 id="container04" ng-click="ctrl.ToggleContainerT('4')">
            <span>Hoàn trả</span>
          </h3>
          <!-- 返水 -->
          <h3
            id="container05"
            ng-show="ctrl.IsDrawPageCategorys()"
            ng-click="ctrl.ToggleContainerT('5')"
          >
            <span>Nhận</span>
            <!-- 領取 -->
          </h3>
        </div>
        <ajax-anti-forgery-token
          token="kmuiLNA8Op07eUhjWIefsFcdB8FQom009T6U7zDEeykrE29d2SubM4Bh3zxHVDg2F4tEYkTSar1cH4kXXs1w2be01f41:FB8M4vQrYst4-gJ2JjCOk8kqsAtizI-shxzNMsW1Vr39StOJq-OJkxy7nwhBg9EHGS606KW-kDDr1vd2ZaEjm6QN_-M1"
        ></ajax-anti-forgery-token>
        <div class="bonus on">
          <!--世界盃活動-->
          <!--節日禮品-->
          <div
            ng-repeat="row in ctrl.model.GetGiftEventList"
            ng-class="row.GiftTypeCss"
            class="bonus_list gift_date"
            ng-click="ctrl.RedirectPage('/Mobile/Event/MemberGiftArea?giftid='+row.GiftID, row.GiftName, row.GiftID)"
            ng-show="ctrl.IsContainerOn(['container05'], 'GiftArea')"
          >
            <!--左上三角-->
            <span
              class="gift_img"
              ng-bind="ctrl.GetGiftTypeName(row.GiftEventSubType)"
            ></span>
            <img ng-src="//%7B%7Brow.MoblieImage%7D%7D" />
          </div>
          <!--好友活動-->
          <div
            class="bonus_list"
            ng-show="ctrl.IsContainerOn(['container01', 'container03'])"
            ng-click="ctrl.RedirectPage('/Mobile/Event/InviteFriends', 'Sự kiện mời bạn')"
          >
            <img src="/mobile/images/bonus01.jpg" />
          </div>
          <!-- 红利回馈计划 -->
          <div
            class="bonus_list"
            ng-show="
              ctrl.IsContainerOn(
                ['container01', 'container02', 'container05'],
                'depositBonus'
              )
            "
            ng-click="ctrl.RedirectPage('/Mobile/Event/BonusFeback', 'Khuyến mãi nạp tiền')"
          >
            <img
              ng-src="/mobile/images/bonus_firstDeposit.jpg"
              class="bonus_img"
              imageonload="ctrl.Loaded($event)"
            />
          </div>
          <!-- 好礼5选1 -->
          <div
            class="bonus_list"
            ng-show="ctrl.IsContainerOn(['container01', 'container02'])"
            ng-click="ctrl.RedirectPage('/Mobile/Event/BonusGifts', '5 CHỌN 1')"
          >
            <img src="/mobile/images/member_banner.jpg" class="bonus_img" />
          </div>
          <!-- 高额返水计划 -->
          <div
            class="bonus_list"
            ng-show="ctrl.IsContainerOn(['container01', 'container04'])"
            ng-click="ctrl.RedirectPage('/Mobile/Event/HighRangeFeback', 'Tiền hoàn trả cao')"
          >
            <img src="/mobile/images/bonus_rebateH.jpg" class="bonus_img" />
          </div>
          <!-- 周返水计划 -->
          <div
            class="bonus_list"
            ng-show="ctrl.IsContainerOn(['container01', 'container04'])"
            ng-click="ctrl.RedirectPage('/Mobile/Event/WeekFeback', 'Hoàn trả tuần')"
          >
            <img src="/mobile/images/bonus_rebate.jpg" class="bonus_img" />
          </div>
          <!-- 升等计划 -->
          <div
            class="bonus_list"
            id="anchorvipupgrade"
            ng-show="ctrl.IsContainerOn(['container01', 'container03'])"
            ng-click="ctrl.RedirectPage('/Mobile/Event/VipUpgrade', 'VIP')"
          >
            <img src="/mobile/images/bonus04.jpg" class="bonus_img" />
          </div>
          <input id="hfFOA" type="hidden" value="false" />
          <input id="hfTab" type="hidden" />
          <input id="hfAnchor" type="hidden" />
        </div>
        <form
          action="/Mobile/Home/GiftEvent"
          method="post"
          style="display: none"
        >
          <input
            type="hidden"
            name="GiftEventKey"
            value="{{ ctrl.model.GiftEventKey }}"
          />
          <input type="hidden" name="GiftID" value="{{ ctrl.model.GiftID }}" />
          <input type="submit" value="Lãnh ngay" id="GiftEventSubmit" />
        </form>
      </div>
    </div>
    <input
      id="hfCopySuccessImg"
      name="hfCopySuccessImg"
      type="hidden"
      value="/Areas/Mobile/Content/Images/icon_checkGreen.svg"
    />
    <input
      id="hfLanguageCode"
      name="hfLanguageCode"
      type="hidden"
      value="vi-vn"
    />
    <input id="hfCountry" name="hfCountry" type="hidden" value="618" />
    <!-- start Footer -->
    <style>
      .footer_maintainTxt {
        word-wrap: break-word;
        word-break: normal;
      }
    </style>
    <!-- end Footer -->
    <!--彈跳視窗 Start-->
    <!--彈跳視窗 End-->
    <input type="hidden" id="hfUniqueSessionId" value="TM1418002236087353344" />
    <div id="valid-rule-block">
      <valid-rule
        rule-name="required"
        rule-message="Bắt buộc điền"
      ></valid-rule>
      <valid-rule rule-name="number" rule-message="Nhập số nguyên"></valid-rule>
      <valid-rule rule-name="min" rule-message="Nhập số nguyên"></valid-rule>
      <valid-rule
        rule-name="maxlength"
        rule-message="Đừng nhập vượt quá {0} chữ số"
      ></valid-rule>
    </div>
    <div id="alert-rule-block">
      <!-- SweetAlert多國語言設定(若是自訂Alert，請在各自頁面增加規則) -->
      <alert-rule
        rule-name="建立成功"
        rule-message="Tạo thành công"
      ></alert-rule>
      <alert-rule rule-name="建立失敗" rule-message="Tạo thất bại"></alert-rule>
      <alert-rule
        rule-name="更新成功"
        rule-message="Cập nhật thành công"
      ></alert-rule>
      <alert-rule
        rule-name="更新失敗"
        rule-message="Cập nhật thất bại"
      ></alert-rule>
      <alert-rule
        rule-name="刪除成功"
        rule-message="Xóa thành công"
      ></alert-rule>
      <alert-rule rule-name="刪除失敗" rule-message="Xóa thất bại"></alert-rule>
      <alert-rule rule-name="參數錯誤" rule-message="Lỗi tham số"></alert-rule>
      <alert-rule
        rule-name="確認刪除"
        rule-message="Xác nhận xóa bỏ"
      ></alert-rule>
      <alert-rule
        rule-name="確認修改"
        rule-message="Xác nhận sửa đổi"
      ></alert-rule>
      <alert-rule
        rule-name="刪除後將無法復原是否還要進行"
        rule-message="Sau khi xóa sẽ không thể khôi phục, có muốn tiến hành hay không"
      ></alert-rule>
      <alert-rule
        rule-name="請填寫刷新時間"
        rule-message="Vui lòng nhập thời gian làm mới"
      ></alert-rule>
      <alert-rule
        rule-name="刷新時間需大於10秒"
        rule-message="Thời gian làm mới phải lớn hơn 10 giây"
      ></alert-rule>
      <alert-rule
        rule-name="轉換語系發生問題"
        rule-message="Chuyển đổi ngôn ngữ xảy ra lỗi"
      ></alert-rule>
      <alert-rule rule-name="處理中" rule-message="Đang xử lý"></alert-rule>
      <alert-rule
        rule-name="新增書籤Cmd"
        rule-message="Vui lòng bấm Cmd + D để dấu trang"
      ></alert-rule>
      <alert-rule
        rule-name="新增書籤Ctrl"
        rule-message="Vui lòng bấm Ctrl + D để dấu trang"
      ></alert-rule>
      <alert-rule
        rule-name="您已經登入"
        rule-message="Bạn đã đăng nhập"
      ></alert-rule>
      <alert-rule rule-name="確認" rule-message="Xác nhận"></alert-rule>
      <alert-rule rule-name="取消" rule-message="Hủy"></alert-rule>
      <alert-rule
        rule-name="您沒有進入"
        rule-message="Bạn không có quyền hạn vào "
      ></alert-rule>
      <alert-rule
        rule-name="的權限，請至本網其他項目投注"
        rule-message="的權限，請至本網其他項目投注"
      ></alert-rule>
      <alert-rule
        rule-name="的權限，請至本網其他項目投注，謝謝！"
        rule-message=", vui lòng đặt cược hạng mục khác, cảm ơn !"
      ></alert-rule>
      <alert-rule rule-name="KU彩票" rule-message="KU XỔ SỐ"></alert-rule>
      <alert-rule rule-name="TS真人" rule-message="TS"></alert-rule>
      <alert-rule rule-name="聊愛玩色" rule-message="Chat sex"></alert-rule>
      <alert-rule
        rule-name="查詢有效服務列表發生問題"
        rule-message="Kiểm tra danh sách dịch vụ hữu hiệu xảy ra lỗi"
      ></alert-rule>
      <alert-rule
        rule-name="系統異常請稍後再試"
        rule-message="Lỗi hệ thống, vui lòng thử lại sau"
      ></alert-rule>
      <alert-rule
        rule-name="網路異常，請刷新頁面"
        rule-message="Lỗi mạng, vui lòng làm mới giao diện"
      ></alert-rule>
      <alert-rule
        rule-name="請求異常，請稍後再試"
        rule-message="Lỗi truy cập, vui lòng thử lại sau"
      ></alert-rule>
      <alert-rule
        rule-name="您沒有進入《{0}》的權限！"
        rule-message="Bạn không có quyền hạn vào《{0}》!"
      ></alert-rule>
      <alert-rule rule-name="轉帳維護中" rule-message="Bảo trì"></alert-rule>
      <alert-rule rule-name="信息" rule-message="Tin nhắn"></alert-rule>
      <alert-rule rule-name="轉點中" rule-message="Đang chuyển"></alert-rule>
      <alert-rule
        rule-name="轉點金額不能大於帳戶餘額"
        rule-message="Điểm chuyển không được nhiều hơn số dư trong tài khoản"
      ></alert-rule>
      <alert-rule rule-name="載入中" rule-message="Đang tải"></alert-rule>
      <alert-rule rule-name="維護中" rule-message="Đang bảo trì"></alert-rule>
      <alert-rule
        rule-name="請輸入轉點金額"
        rule-message="Vui lòng nhập số tiền chuyển điểm"
      ></alert-rule>
      <alert-rule
        rule-name="轉點成功"
        rule-message="Chuyển điểm thành công"
      ></alert-rule>
      <alert-rule rule-name="進入遊戲" rule-message="Vào trò chơi"></alert-rule>
      <alert-rule rule-name="關閉視窗" rule-message="Tắt cửa sổ"></alert-rule>
      <alert-rule
        rule-name="維護中，請稍後再試"
        rule-message=" đang bảo trì."
      ></alert-rule>
      <alert-rule
        rule-name="請輸入整數金額"
        rule-message="Nhập số nguyên"
      ></alert-rule>
      <alert-rule
        rule-name="請輸入金額"
        rule-message="Nhập số điểm"
      ></alert-rule>
      <alert-rule
        rule-name="很抱歉，目前轉帳功能維護中"
        rule-message="Xin lỗi, chức năng chuyển khoản đang bảo trì"
      ></alert-rule>
      <alert-rule
        rule-name="很抱歉，目前轉帳功能維護中！"
        rule-message="Xin lỗi, chức năng chuyển khoản đang bảo trì！"
      ></alert-rule>
      <alert-rule
        rule-name="平台轉帳維護中"
        rule-message="Chuyển khoản bảo trì"
      ></alert-rule>
      <alert-rule
        rule-name="您存入的額度高於上限"
        rule-message="Số tiền bạn nạp vào cao hơn mức tối đa"
      ></alert-rule>
      <alert-rule
        rule-name="您的可轉金額為0"
        rule-message="Số tiền bạn có thể chuyển là 0"
      ></alert-rule>
      <alert-rule
        rule-name="主帳戶餘額不足"
        rule-message="Số dư của bạn không đủ"
      ></alert-rule>
      <alert-rule
        rule-name="今日互轉次數已達到限定值"
        rule-message="Số lần chuyển điểm trong ngày đã đạt mức hạn chế"
      ></alert-rule>
      <alert-rule
        rule-name="今日互轉額度已達限定值"
        rule-message="Số điểm chuyển trong ngày đã đạt mức hạn chế"
      ></alert-rule>
      <alert-rule
        rule-name="您的可用額度不足"
        rule-message="Số dư của bạn không đủ"
      ></alert-rule>
      <alert-rule
        rule-name="代理商金額不足"
        rule-message="Số dư đại lý không đủ"
      ></alert-rule>
      <alert-rule
        rule-name="【{0}】與【{1}】互轉失敗，請聯繫客服！"
        rule-message="【{0}】và【{1}】Chuyển điểm thất bại, vui lòng liên hệ hỗ trợ!"
      ></alert-rule>
      <alert-rule rule-name="主帳戶" rule-message="TK Chính"></alert-rule>
      <alert-rule
        rule-name="很抱歉，目前存款功能暫不開放，請聯繫客服中心！"
        rule-message="Xin lỗi, hiện tại chức năng nạp tiền tạm thời chưa mở, xin vui lòng liên hệ hỗ trợ khách hàng!"
      ></alert-rule>
      <alert-rule
        rule-name="您已完善資料，待通過資料審核，"
        rule-message="Bạn đã hoàn tất tư liệu, vui lòng chờ thông qua xét duyệt,"
      ></alert-rule>
      <alert-rule
        rule-name="即開放存款，請耐心等候"
        rule-message="Mở nạp tiền, vui lòng chờ đợi"
      ></alert-rule>
      <alert-rule
        rule-name="很抱歉，目前提款功能暫不開放，請聯繫客服中心！"
        rule-message="Xin lỗi, hiện tại chức năng rút tiền tạm thời chưa mở, xin vui lòng liên hệ hỗ trợ khách hàng!"
      ></alert-rule>
      <alert-rule
        rule-name="很抱歉，目前存提款功能維護中"
        rule-message="Xin lỗi, hiện nay chức năng nạp rút tiền đang bảo trì"
      ></alert-rule>
      <alert-rule
        rule-name="很抱歉，目前存提款功能暫不開放，請聯繫客服中心！"
        rule-message="Xin lỗi, hiện tại chức năng nạp rút tiền tạm thời chưa mở, xin vui lòng liên hệ hỗ trợ khách hàng!"
      ></alert-rule>
      <alert-rule
        rule-name="您已完善資料，待通過資料審核，即開放存款，請耐心等候"
        rule-message="Bạn đã hoàn thiện thông tin, sau khi xét duyệt thông qua sẽ mở chức năng nạp tiền, vui lòng nhẫn nại chờ đợi"
      ></alert-rule>
      <alert-rule
        rule-name="轉帳功能維護中"
        rule-message="đang bảo trì"
      ></alert-rule>
      <alert-rule
        rule-name="XXX與XXX互轉失敗，請重新操作"
        rule-message="{0} và {1} Chuyển điểm thất bại, vui lòng thao tác lại"
      ></alert-rule>
      <alert-rule
        rule-name="轉點失敗"
        rule-message="Chuyển điểm thất bại"
      ></alert-rule>
      <alert-rule
        rule-name="轉點失敗，請重新操作"
        rule-message="Chuyển điểm thất bại, vui lòng thao tác lại"
      ></alert-rule>
      <alert-rule
        rule-name="您的帳號已禁止登入，如有疑問請聯繫客服人員"
        rule-message="Tài khoản của bạn đã cấm đăng nhập, nếu có thắc mắc vui lòng liên hệ hỗ trợ"
      ></alert-rule>
      <alert-rule
        rule-name="偵測到重複登入，已將您登出"
        rule-message="Đăng nhập trùng lặp, bạn đã đăng xuất"
      ></alert-rule>
      <alert-rule
        rule-name="您已經登出"
        rule-message="Tài khoản đã bị đăng xuất"
      ></alert-rule>
      <alert-rule
        rule-name="單次登入時間過長已超過限制時間，已將您登出"
        rule-message="Thời gian đăng nhập của một lần đã vượt quá thời gian hạn chế, bạn đã đăng xuất"
      ></alert-rule>
      <alert-rule
        rule-name="您帳號已被禁止登入，已將您登出"
        rule-message="Tài khoản của bạn đã bị cấm đăng nhập, bạn đã đăng xuất"
      ></alert-rule>
      <alert-rule
        rule-name="您帳號已被黑名單，已將您登出"
        rule-message="Tài khoản của bạn đã là danh sách đen, bạn đã đăng xuất"
      ></alert-rule>
      <alert-rule
        rule-name="系統維護中，已將您登出"
        rule-message="Hệ thống đang bảo trì, bạn đã đăng xuất"
      ></alert-rule>
      <alert-rule
        rule-name="系統異常，已將您登出"
        rule-message="Lỗi hệ thống, bạn đã đăng xuất"
      ></alert-rule>
      <alert-rule rule-name="總額度" rule-message="Tổng số điểm"></alert-rule>
      <alert-rule
        rule-name="您的帳號已被鎖定，請聯繫客服"
        rule-message="Tài khoản của bạn đã bị khóa, vui lòng liên hệ hỗ trợ"
      ></alert-rule>
      <alert-rule
        rule-name="請勿提供手機驗證碼給他人！"
        rule-message="Vui lòng không cung cấp mã xác minh OTP cho bất kì ai!"
      ></alert-rule>
      <alert-rule
        rule-name="您的可轉餘額為0"
        rule-message="Số dư bạn có thể chuyển là 0"
      ></alert-rule>
      <alert-rule
        rule-name="全部遊戲轉點至主帳戶成功"
        rule-message="Chuyển hết về tài khoản chính thành công"
      ></alert-rule>
      <alert-rule
        rule-name="很抱歉，目前{0}轉帳功能維護中！"
        rule-message="Xin lỗi, chức năng chuyển khoản {0} đang bảo trì！"
      ></alert-rule>
      <alert-rule
        rule-name="該平台餘額不足"
        rule-message="該平台餘額不足"
      ></alert-rule>
      <alert-rule rule-name="節日" rule-message="Ngày lễ"></alert-rule>
      <alert-rule rule-name="主播" rule-message="MC"></alert-rule>
      <alert-rule rule-name="活動" rule-message="Sự kiện"></alert-rule>
    </div>
    <script src="/mobile/js/thirdpartyplugin.m-memberportal.20181204A.js"></script>
    <script src="/mobile/js/vi-vn.js"></script>
    <script src="/mobile/js/base.m-memberportal.20181204A.js"></script>
    <script src="/mobile/js/app.m.js"></script>
    <script src="/mobile/js/menu.m.js"></script>
    <script src="/mobile/js/mobile-bonuscenter-latestoffers.js"></script>
    <script type="text/javascript">
      OBSMobileApp.GlobalJsConfig.SetConfig({
        SignalRNFSvcHost: "//sgrapi.ku6688.net/NFSvc",
        SignalRNFSvcIsDebug: "false",
        GetGameBalanceTime: "30",
        DDDFastTransferCallBackUrl: "",
        FastTransferGameID: "",
        EntryRef: "",
        SiteCulture: "vi-vn",
        CountryID: "618",
        SiteCultureAcronym: "VN",
      });
    </script>
  </body>
</html>
